<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @tutorial.user.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@tutorial.content) %>
</p>

<p>
  <strong>Published:</strong>
  <%= @tutorial.published %>
</p>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
